<template>
<div>
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat" v-if="recent">
            <div class="chat_list" v-for="conversation in myConverations" :key="conversation.key">
              <div class="chat_people" @click="openChat(conversation.id)">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{ conversation.users[0].name }} <span class="chat_date">Dec 25</span></h5>
                  <p>{{ conversation.messages.length > 0 ? conversation.messages[0].sendable.content : '' }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="inbox_chat" v-else>
            <div class="chat_list" v-for="user in users" :key="user.key" @click="startConverstaion(user.id)">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{ conversation.users[0].name }} <span class="chat_date">Dec 25</span></h5>
                  <p>{{ conversation.messages.length > 0 ? conversation.messages[0].sendable.content : '' }}</p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="mesgs">
          <div class="msg_history">
              <template v-for="message in messages">
                <div class="incoming_msg" v-if=" user_id != message.sender_id">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                            <p>{{ message.message.content}}</p>
                            <span class="time_date"> 11:01 AM    |    June 9</span>
                        </div>
                    </div>
                </div>
                <div class="outgoing_msg" v-else>
                    <div class="sent_msg">
                        <p>{{ message.message.content}}</p>
                        <span class="time_date"> 11:01 AM    |    June 9</span>
                    </div>
                </div>
              </template>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" v-model="content" placeholder="Type a message" />
              <button class="msg_send_btn" type="button" @click="sendMessage"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>


      <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>

    </div>
</div>
</template>

<style scoped>
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
    height: 516px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
</style>


<script>
    export default {
        props : ['users', 'conversations', 'user_id'],

        mounted() {

            window.Echo.private(`App.User.` + this.user_id)
                .notification((response) => {
                  dd(response);
                    const conversation = this.findConversation(response.conversation_id);
                    conversation.messages = [response].concat(conversation.messages);
                    const index = this.myConverations.indexOf(conversation);
                    this.myConverations.splice(index, 1, conversation);
                    this.messages.push(response)


                });
        },

        data() {
            return {
                content: "",
                active_conversation_id: null,
                messages: [],
                myConverations:[],
                recent: true
            }
        },
        created() {
            this.myConverations = this.myConverations.concat(this.conversations);
        },
        methods: {
            newMessage(user) {
              axios.post('/conversation/create', { 'user_id' : user.id })
                .then(response => {
                    const conversation = this.myConverations.find(c => c.id === response.data.id);
                    if(!conversation){
                        this.myConverations.push(response.data);
                        this.active_conversation_id = response.data.id;
                    }else{
                        this.active_conversation_id = conversation.id;
                    }
                }
              )
            },

            startConverstaion(id) {
              
            },
            openChat(id) {

                if ( this.active_conversation_id !== id) {

                    this.active_conversation_id = id;

                    axios.get('/conversation/' + this.active_conversation_id + '/messages')
                    .then(response => {
                        this.messages =  response.data;
                    });
                }

            },

            sendMessage() {

                if ( this.content !== "") {

                    axios.post('/send/message', {
                        'conversation_id' : this.active_conversation_id,
                        'type': 'text_message',
                        'message': {
                            'content' : this.content
                        }
                    }).then(response => {
                        const conversation = this.myConverations.find(c => c.id === response.data.id);
                        if(!conversation){
                            this.myConverations.push(response.data);
                            this.active_conversation_id = response.data.id;
                        }else{
                            this.active_conversation_id = conversation.conversation_id;
                        }
                        const conversation2 = this.findConversation(response.data.id);
                        conversation2.messages = [response.data].concat(conversation2.messages);
                        const index = this.myConverations.indexOf(conversation2);
                        this.myConverations.splice(index, 1, conversation2);
                        this.messages.push(response.data.messages);
                        this.content = ""
                    });

                }
            },
            findConversation(id) {
                return this.myConverations.find(conversation => conversation.id === id);
            }
        }
    }
</script>
